.body-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    flex-grow: 1;
    margin-bottom: 30px;
    min-height: 100vh;
    margin-top: 30px;
}