.card i {
    font-size: 3rem;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c2461;
    background-color: #82ccdd;
}
.card-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
    margin-bottom: 40px;
}

.card {
  background-color: red;
  max-width: 20rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 100ms ease-in-out;
  outline: 1px solid #fff;
  padding: 15px 15px 0;
  border-radius: 12px;
  background-color: #353b48;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.num2 {
    grid-column: span 2/ span 2;
}

.num2 h4 {
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
}

.num2 p {
    color:  #fff;
    padding-top: 7px;
    line-height: 1.5;
    font-size: 15px;
}

.num3 {
    grid-column: span 3/ span 3;
    grid-row-start: 2;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.num3 button {
    padding: 10px 17px;
    margin-top: 15px;
    border-radius: 27px;
    outline: #fff;
    border: 1px solid #fff;
    color: #fff;
    background-color: #2f3640;
    cursor: pointer;
}


@media (min-width: 951px) and (max-width: 1134px){
    .card {
        max-width: 24rem;
    }
    .num3 button {
        margin-bottom: 20px;
    }
}

@media (min-width: 749px) and (max-width: 950px){
    .card {
        max-width: 20rem;
    }
}

@media (min-width: 300px) and (max-width: 748px) {
    .card {
        max-width: 40rem;
    }

    .num3 button {
        margin-bottom: 20px;
    }
}