footer {
    color: #fff;
    text-align: center;
    margin: 10px 0;
}


footer h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}


footer p {
    font-size: 0.8rem;
    margin: 0;
}




