header {
    width: 100%;
    height: 60px;
    background-color: #2f3640;
    border-radius: 10px;
    padding: 0 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.icon i {
    font-size: 2.4rem;
    color: #e55039;
}
.icon span {
    padding-left: 10px;
    font-size: 1.6rem;
    color: #fff;
}